<div id="filterrific_results" %>
<div><%= page_entries_info @nuts %></div>

<table class="table table-hover">
  <tr class="active">
      <th class="text-center">Partnumber</th>
      <th class="text-center">Status</th>
      <th class="text-center">Description</th>
      <th class="text-center">Nut type</th>
      <th class="text-center">Nut size</th>
      <th class="text-center">Width</th>
      <th class="text-center">Coating</th>
      <th class="text-center">Drawing norm</th>
      <th class="text-center">Where used product</th>
      <th class="text-center">Where used plant</th>
      <th class="text-center">Remark</th>
      <th class="text-center">Reason</th>
    </tr>

  <tbody>
    <% @nuts.each do |nut| %>
      <% if nut.release_status == "needs editing" && nut.uploader_name == session[:user_name] %>
        <tr class="danger">
      <% elsif nut.release_status == "pending" && session[:user_role] == "Sectionhead" && nut.uploader_role == "Normal" && nut.uploaded_by_section == session[:user_section] || session[:user_role] == "Departmenthead" && nut.uploader_role == "Sectionhead" && nut.release_status == "pending" %>
        <tr class="warning">
      <% elsif nut.release_status == "pending" || nut.release_status == "needs editing" %>
        <tr class="pending_parts">
      <% else %>
        <tr>
      <% end %>
        <td><%= link_to "#{nut.partnumber}", nut, method: :get %></td>
        <td><%= nut.release_status %></td>
        <td><%= nut.description %></td>
        <td><%= nut.nut_type %></td>
        <td><%= nut.nut_size %></td>
        <td><%= nut.width %></td>
        <td><%= nut.coating %></td>
        <td><%= nut.drawing_norm %></td>
        <td><%= nut.where_used_product %></td>
        <td><%= nut.where_used_plant %></td>
        <td><%= nut.remark %></td>
        <td><%= nut.reason %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @nuts %>
</div>
