<% if flash[:warning] or flash[:notice] %>
  <div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
    <%= flash[:warning] || flash[:notice] %>
  </div>

<% end %>

 <%= part_status(@ac_motor) %>
<p>
  <b>Armature Partnumber:</b>
  <%= @ac_motor.arm_part_no %>
</p>
<p>
  <b>Motor Size:</b>
  <%= @ac_motor.motor_size %>
</p>
<p>
  <b>Armature drawing:</b>
  <%= @ac_motor.armature_drw %>
</p>
<p>
  <b>Field Partnumber:</b>
  <%= @ac_motor.field_part_no %>
</p>
<p>
  <b>Filed Drawing:</b>
  <%= @ac_motor.field_drw %>
</p>

<p>
  <b>Voltage:</b>
  <%= @ac_motor.voltage %>
</p>

<p>
  <b>Power:</b>
  <%= @ac_motor.power %>
</p>

<p>
  <b>Amps Rating:</b>
  <%= @ac_motor.amps_rating %>
</p>

<p>
  <b>Output RPM:</b>
  <%= @ac_motor.output_rpm %>
</p>

<p>
  <b>Rotation:</b>
  <%= @ac_motor.rotation %>
</p>


<p>
  <b>No Load RPM Motor:</b>
  <%= @ac_motor.no_load_rpm_motor %>
</p>

<p>
  <b>Gear Ratio:</b>
  <%= @ac_motor.gear_ratio %>
</p>

<p>
  <b>Armature Wire diameter:</b>
  <%= @ac_motor.arm_wire_dia %>
</p>

<p>
  <b>Field wire diameter:</b>
  <%= @ac_motor.field_wire_dia %>
</p>

<p>
  <b>Winding Type:</b>
    <%= @ac_motor.winding_type %>
</p>

<p>
  <b>Armature Resistance:</b>
  <%= @ac_motor.arm_resistance %>
</p>

<p>
  <b>Displace Angle:</b>
  <%= @ac_motor.displace_angle %>
</p>


<p>
  <b>Armature no of turns:</b>
  <%= @ac_motor.arm_no_of_turns %>
</p>


<p>
  <b>Field no of turns:</b>
  <%= @ac_motor.field_no_of_turns %>
</p>


<p>
  <b>Field resistance:</b>
  <%= @ac_motor.field_resistance %>
</p>


<p>
  <b>Field wind drawing:</b>
  <%= @ac_motor.field_wind_drw %>
</p>


<p>
  <b>Armature Package:</b>
  <%= @ac_motor.arm_package %>
</p>

<p>
  <b>Shaft Partnumber:</b>
  <%= @ac_motor.shaft_part_no %>
</p>

<p>
  <b>Shaft Drawing:</b>
  <%= @ac_motor.shaft_drw %>
</p>

<p>
  <b>Armature Stack:</b>
  <%= @ac_motor.arm_stack %>
</p>

<p>
  <b>Armature Laminate:</b>
  <%= @ac_motor.arm_laminate %>
</p>

<p>
  <b>Field stack:</b>
  <%= @ac_motor.field_stack %>
</p>

<p>
  <b>Field stack opt:</b>
  <%= @ac_motor.field_stack_opt %>
</p>

<p>
  <b>Armature end laminate:</b>
  <%= @ac_motor.arm_end_lami %>
</p>

<p>
  <b>Molding component:</b>
  <%= @ac_motor.molding_comp %>
</p>

<p>
  <b>Commutator:</b>
  <%= @ac_motor.commutator %>
</p>

<p>
  <b>Armature copper wire:</b>
  <%= @ac_motor.arm_copper_wire %>
</p>

<p>
  <b>Armature wire drawing:</b>
  <%= @ac_motor.arm_wire_drw %>
</p>

<p>
  <b>Field copper wire:</b>
  <%= @ac_motor.field_copper_wire %>
</p>

<p>
  <b>Armature fan:</b>
  <%= @ac_motor.arm_fan %>
</p>

<p>
  <b>Insulating tube:</b>
  <%= @ac_motor.insulating_tube %>
</p>

<p>
  <b>Insulator:</b>
  <%= @ac_motor.insulator %>
</p>

<p>
  <b>Hard paper tube:</b>
  <%= @ac_motor.hard_paper_tube %>
</p>

<p>
  <b>Slot insulation:</b>
  <%= @ac_motor.slot_insulation %>
</p>

<p>
  <b>Slot Wedge:</b>
  <%= @ac_motor.slot_wedge %>
</p>

<p>
  <b>Pressboard:</b>
  <%= @ac_motor.pressboard %>
</p>

<p>
  <b>Field insulation paper:</b>
  <%= @ac_motor.field_insulation_paper %>
</p>

<p>
  <b>Connection plate:</b>
  <%= @ac_motor.connection_plate %>
</p>

<p>
  <b>Connection plate opt:</b>
  <%= @ac_motor.conn_plate_opt %>
</p>

<p>
  <b>End plate:</b>
  <%= @ac_motor.end_plate %>
</p>

<p>
  <b>End plate opt:</b>
  <%= @ac_motor.end_plate_opt %>
</p>

<p>
  <b>Polyester resin:</b>
  <%= @ac_motor.polyester_resin %>
</p>

<p>
  <b>Resin hardener:</b>
  <%= @ac_motor.resin_hardener %>
</p>

<p>
  <b>Hardener adhesive:</b>
  <%= @ac_motor.hardener_adhesive %>
</p>

<p>
  <b>Impregnating Resin:</b>
  <%= @ac_motor.impregnating_resin %>
</p>

<p>
  <b>Impreg hardener:</b>
  <%= @ac_motor.impreg_hardener %>
</p>

<p>
  <b>Receptacle 01:</b>
  <%= @ac_motor.receptacle_01 %>
</p>

<p>
  <b>Receptacle 02:</b>
  <%= @ac_motor.receptacle_02 %>
</p>

<p>
  <b>Field impregnating resin:</b>
  <%= @ac_motor.field_impregn_resin %>
</p>

<p>
  <b>Field resin hardener:</b>
  <%= @ac_motor.field_resin_hard %>
</p>

<p>
  <b>Filed coating:</b>
  <%= @ac_motor.filed_coating %>
</p>


<p>
  <b>Field heat sink:</b>
  <%= @ac_motor.field_heat_sink %>
</p>


<p>
  <b>Field Pressboard:</b>
  <%= @ac_motor.field_pressboard %>
</p>

<p>
  <b>Where used product:</b>
  <%= @ac_motor.where_used_product %>
</p>

<p>
  <b>Where used plant:</b>
  <%= @ac_motor.where_used_plant %>
</p>

<p>
    <b>Reason for submission:</b>
    <%= @ac_motor.reason %>
  </p><br />

<p>
    <b>Submitted by:</b>
    <%= @ac_motor.uploader_name %>
  </p>

  <p>
    <b>Created at:</b>
    <%= @ac_motor.created_at %>
  </p>

  <p>
    <b>Last updated at:</b>
    <%= @ac_motor.updated_at %>
  </p>


<%= render 'shared/show_actions', :object => @ac_motor %>