<%= form_for(@cord_clip) do |f| %>
  <% if @cord_clip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cord_clip.errors.count, "error") %> prohibited this cord_clip from being saved:</h2>

      <ul>
      <% @cord_clip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :partnumber %><br>
    <%= f.text_field :partnumber %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :cord_clip_type %><br>
    <%= f.text_field :cord_clip_type %>
  </div>
  <div class="field">
    <%= f.label :material %><br>
    <%= f.text_field :material %>
  </div>
  <div class="field">
    <%= f.label :max_cord_od %><b> (You need to use a dot, for example: 0.53)</b><br>
    <%= f.text_field :max_cord_od %>
  </div>
  <div class="field">
    <%= f.label :drawing_norm %><br>
    <%= f.text_field :drawing_norm %>
  </div>
  <div class="field">
    <%= f.label :where_used_product %><br>
    <%= f.text_field :where_used_product %>
  </div>
  <div class="field">
    <%= f.label :where_used_plant %><br>
    <%= f.text_field :where_used_plant %>
  </div>
  <div class="field">
    <%= f.label :remark %><br>
    <%= f.text_field :remark %>
  </div>
  <br />
  <div class="field">
    <%= f.label :reason_for_submission? %><br />
    <%= f.text_field :reason %>
  </div>   
  <br />


  <% if session[:user_role] == "Normal" && @cord_clip.uploader_name == nil || session[:user_role] == "Sectionhead" && @cord_clip.uploader_name == nil %>
      <div class="field">
        <%= f.label :release_status %><br />
        <%= f.text_field :release_status, :value => "pending", :readonly => true %>
      </div>
  <% end %>
    
  <% if @cord_clip.uploader_name != session[:user_name] && session[:user_role] != "Superadmin" %>
    <div class="actions">
      <%= f.submit 'Submit Cord clip', :name => 'submit' %>
    </div>
  <% end %>

  <% if @cord_clip.uploader_name == session[:user_name] || session[:user_role] == "Superadmin" %>
    <div class="actions">
      <%= f.submit 'Update Cord clip', :name => 'create' %>
    </div>
  <% end %>
<% end %>