<div id="filterrific_results" %>
<div><%= page_entries_info plastic_materials %></div>

<table class="table table-hover">
  <tr class="active">
      <th class="text-center">Partnumber</th>
      <th class="text-center">Status</th>
      <th class="text-center">Resin</th>
      <th class="text-center">Color</th>
      <th class="text-center">Supplier</th>
      <th class="text-center">Recommendation</th>
      <th class="text-center">UL number</th>
      <th class="text-center">Drawing norm</th>
      <th class="text-center">Where used product</th>
      <th class="text-center">Where used plant</th>
      <th class="text-center">Supplier material info</th>
      <th class="text-center">Related molders</th>
      <th class="text-center">Reason</th>
    </tr>

  <tbody>
    <% plastic_materials.each do |plastic_material| %>
      <% if plastic_material.release_status == "needs editing" && plastic_material.uploader_name == session[:user_name] %>
        <tr class="danger">
      <% elsif plastic_material.release_status == "pending" && session[:user_role] == "Sectionhead" && plastic_material.uploader_role == "Normal" && plastic_material.uploaded_by_section == session[:user_section] || session[:user_role] == "Departmenthead" && plastic_material.uploader_role == "Sectionhead" && plastic_material.release_status == "pending" %>
        <tr class="warning">
      <% elsif plastic_material.release_status == "pending" || plastic_material.release_status == "needs editing" %>
        <tr class="pending_parts">
      <% else %>
        <tr>
      <% end %>
        <td><%= link_to "#{plastic_material.partnumber}", plastic_material, method: :get %></td>
        <td><%= plastic_material.release_status %></td>
        <td><%= plastic_material.resin %></td>
        <td><%= plastic_material.color %></td>
        <td><%= plastic_material.supplier %></td>
        <td><%= plastic_material.recommendation %></td>
        <td><%= plastic_material.ul_number %></td>
        <td><%= plastic_material.drawing_norm %></td>
        <td><%= plastic_material.where_used_product %></td>
        <td><%= plastic_material.where_used_plant %></td>
        <td><%= plastic_material.supplier_material_info %></td>
        <td><%= plastic_material.related_molders %></td>
        <td><%= plastic_material.reason %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate plastic_materials %>
</div>
