<% if flash[:warning] or flash[:notice] %>
  <div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
    <%= flash[:warning] || flash[:notice] %>
  </div>

<% end %>
 <%= part_status(@copperwire) %>
  <p>
    <b>Partnumber:</b>
    <%= @copperwire.partnumber %>
  </p>

  <p>
    <b>Description:</b>
    <%= @copperwire.description %>
  </p>

  <p>
    <b>Copperwire type:</b>
    <%= @copperwire.copperwire_type %>
  </p>

  <p>
    <b>Self bonded:</b>
    <%= @copperwire.self_bonded %>
  </p>

  <p>
    <b>Diameter:</b>
    <%= @copperwire.diameter %>
  </p>

  <p>
    <b>Drawing norm:</b>
    <%= @copperwire.drawing_norm %>
  </p>

  <p>
    <b>Supplier:</b>
    <%= @copperwire.supplier %>
  </p>

  <p>
    <b>Where used product:</b>
    <%= @copperwire.where_used_product %>
  </p>

  <p>
    <b>Where used plant:</b>
    <%= @copperwire.where_used_plant %>
  </p><br />

  <p>
    <b>Reason for submission:</b>
    <%= @copperwire.reason %>
  </p><br />

  <p>
    <b>Submitted by:</b>
    <%= @copperwire.uploader_name %>
  </p>

  <p>
    <b>Created at:</b>
    <%= @copperwire.created_at %>
  </p>

  <p>
    <b>Last updated at:</b>
    <%= @copperwire.updated_at %>
  </p>
<%= render 'shared/show_actions', :object => @copperwire %>