<%= form_for(@washer) do |f| %>
  <% if @washer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@washer.errors.count, "error") %> prohibited this washer from being saved:</h2>

      <ul>
      <% @washer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :partnumber %><br>
    <%= f.text_field :partnumber %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :washer_type %><br>
    <%= f.text_field :washer_type %>
  </div>
  <div class="field">
    <%= f.label :inner_diameter %><b> (You need to use a dot, for example: 0.53)</b><br>
    <%= f.text_field :inner_diameter %>
  </div>
  <div class="field">
    <%= f.label :outer_diameter %><b> (You need to use a dot, for example: 0.53)</b><br>
    <%= f.text_field :outer_diameter %>
  </div>
  <div class="field">
    <%= f.label :thickness %><b> (You need to use a dot, for example: 0.53)</b><br>
    <%= f.text_field :thickness %>
  </div>
  <div class="field">
    <%= f.label :coating %><br>
    <%= f.text_field :coating %>
  </div>
  <div class="field">
    <%= f.label :material %><br>
    <%= f.text_field :material %>
  </div>
  <div class="field">
    <%= f.label :drawing_norm %><br>
    <%= f.text_field :drawing_norm %>
  </div>
  <div class="field">
    <%= f.label :where_used_product %><br>
    <%= f.text_field :where_used_product %>
  </div>
  <div class="field">
    <%= f.label :where_used_plant %><br>
    <%= f.text_field :where_used_plant %>
  </div>
  <div class="field">
    <%= f.label :remark %><br>
    <%= f.text_field :remark %>
  </div>
  <br />
  <div class="field">
    <%= f.label :reason_for_submission? %><br />
    <%= f.text_field :reason %>
  </div>   
  <br />
  

  <% if session[:user_role] == "Normal" && @washer.uploader_name == nil || session[:user_role] == "Sectionhead" && @washer.uploader_name == nil %>
      <div class="field">
        <%= f.label :release_status %><br />
        <%= f.text_field :release_status, :value => "pending", :readonly => true %>
      </div>
  <% end %>
    
  <% if @washer.uploader_name != session[:user_name] && session[:user_role] != "Superadmin" %>
    <div class="actions">
      <%= f.submit 'Submit Washer', :name => 'submit' %>
    </div>
  <% end %>

  <% if @washer.uploader_name == session[:user_name] || session[:user_role] == "Superadmin" %>
    <div class="actions">
      <%= f.submit 'Update Washer', :name => 'create' %>
    </div>
  <% end %>
<% end %>