<br />
<h2>This part is waiting to get released!</h2>
<br />

  <p>
    <b>Partnumber:</b>
    <%= @grease.partnumber %>
  </p>

  <p>
    <b>Description:</b>
    <%= @grease.description %>
  </p>

  <p>
    <b>Grease type:</b>
    <%= @grease.grease_type %>
  </p>

  <p>
    <b>Lubricated location:</b>
    <%= @grease.lubricated_location %>
  </p>

  <p>
    <b>Drawing norm:</b>
    <%= @grease.drawing_norm %>
  </p>

  <p>
    <b>Supplier:</b>
    <%= @grease.supplier %>
  </p>

  <p>
    <b>Where used product:</b>
    <%= @grease.where_used_product %>
  </p>

  <p>
    <b>Where used plant:</b>
    <%= @grease.where_used_plant %>
  </p><br />

  <p>
    <b>Reason for submission:</b>
    <%= @grease.reason %>
  </p><br />

  <% if session[:user_role] == "Sectionhead" && @grease.uploader_role == "Normal" && @grease.release_status == "approved draft" && @grease.uploaded_by_section == session[:user_section] %> 

    <%= form_for(@grease) do |f| %>
        <% if @grease.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@grease.errors.count, "error") %> prohibited this grease from being saved:</h2>

            <ul>
            <% @grease.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

          <div class="field">
              <%= f.label :Status? %><br />
              <%= f.text_field :release_status, :value => "released", :readonly => true %>
          </div>
          
          <br />

          <div class="actions">
            <%= f.submit 'Release Grease', :name => 'create' %>
          </div>
      <% end %>
    <% end %>