<br />
<h2>This part is waiting to get released!</h2>
<br />

<p>
  <strong>Partnumber:</strong>
  <%= @spiral_spring.partnumber %>
</p>

<p>
  <strong>Description:</strong>
  <%= @spiral_spring.description %>
</p>

<p>
  <strong>Material thickness:</strong>
  <%= @spiral_spring.material_thickness %>
</p>

<p>
  <strong>Material width:</strong>
  <%= @spiral_spring.material_width %>
</p>

<p>
  <strong>Outer dia:</strong>
  <%= @spiral_spring.outer_dia %>
</p>

<p>
  <strong>Torsion arm length:</strong>
  <%= @spiral_spring.torsion_arm_length %>
</p>

<p>
  <strong>Torsion arm movable distance:</strong>
  <%= @spiral_spring.torsion_arm_movable_distance %>
</p>

<p>
  <strong>Initial force:</strong>
  <%= @spiral_spring.initial_force %>
</p>

<p>
  <strong>Final force:</strong>
  <%= @spiral_spring.final_force %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @spiral_spring.supplier %>
</p>

<p>
  <strong>Drawing norm:</strong>
  <%= @spiral_spring.drawing_norm %>
</p>

<p>
  <strong>Where used product:</strong>
  <%= @spiral_spring.where_used_product %>
</p>

<p>
  <strong>Where used plant:</strong>
  <%= @spiral_spring.where_used_plant %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @spiral_spring.reason %>
</p>



<br />

<p>
    <b>Reason for submission:</b>
    <%= @spiral_spring.reason %>
  </p><br />

  <% if session[:user_role] == "Sectionhead" && @spiral_spring.uploader_role == "Normal" && @spiral_spring.release_status == "approved draft" && @spiral_spring.uploaded_by_section == session[:user_section] %> 

    <%= form_for(@spiral_spring) do |f| %>
        <% if @spiral_spring.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@spiral_spring.errors.count, "error") %> prohibited this spiral spring from being saved:</h2>

            <ul>
            <% @spiral_spring.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

          <div class="field">
              <%= f.label :Status? %><br />
              <%= f.text_field :release_status, :value => "released", :readonly => true %>
          </div>
          
          <br />

          <div class="actions">
            <%= f.submit 'Release Spiral spring', :name => 'create' %>
          </div>
      <% end %>
    <% end %>