<br />
<h2>This part is waiting to get released!</h2>
<br />

<p>
  <b>Partnumber:</b>
  <%= @anchor_logo.partnumber %>
</p>
<p>
  <b>Anchor Logo Diameter:</b>
  <%= @anchor_logo.anchor_logo_diameter %>
</p>
<p>
  <b>Anchor Logo Supplier:</b>
  <%= @anchor_logo.anchor_logo_supplier %>
</p>

<p>
  <b>Housing Partnumber:</b>
  <%= @anchor_logo.housing_partnumber %>
</p>

<p>
  <b>Housing Supplier:</b>
  <%= @anchor_logo.housing_supplier %>
</p>




<p>
  <b>Bosch Logo Partnumber:</b>
  <%= @anchor_logo.bosch_logo_partnumber %>
</p>

<p>
  <b>Bosch Logo Supplier:</b>
  <%= @anchor_logo.bosch_logo_supplier %>
</p>

<p>
  <b>Where used product:</b>
  <%= @anchor_logo.where_used_product %>
</p>

<p>
  <b>Where used plant:</b>
  <%= @anchor_logo.where_used_plant %>
</p>
<p>
  <b>Remark:</b>
  <%= @anchor_logo.remark %>
</p>

<p>
    <b>Reason for submission:</b>
    <%= @anchor_logo.reason %>
  </p><br />

<% if session[:user_role] == "Sectionhead" && @anchor_logo.uploader_role == "Normal" && @anchor_logo.release_status == "approved draft" && @anchor_logo.uploaded_by_section == session[:user_section] %> 

    <%= form_for(@anchor_logo) do |f| %>
        <% if @anchor_logo.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@anchor_logo.errors.count, "error") %> prohibited this brush holder from being saved:</h2>

            <ul>
            <% @anchor_logo.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

          <div class="field">
              <%= f.label :Status? %><br />
              <%= f.text_field :release_status, :value => "released", :readonly => true %>
          </div>
          
          <br />

          <div class="actions">
            <%= f.submit 'Release Brush holder', :name => 'create' %>
          </div>
      <% end %>
    <% end %>