<!DOCTYPE html>
<html>
<head>
  <title>Standard Parts Library</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div id="sidebar">
		<div id="header">
		<div id="headerimg">
			<%= image_tag 'bosch_logo.jpg' %>
        </div>
    </div>
    
	<% if session[:user_id] %>
		<div id="navigation-menu">
			<ul class="list-unstyled">
				<li><%= link_to "Home", admin_path %></li>
				<li id="logoutbutton"><%= link_to "Logout", logout_path, :method => :delete %></li>	
			<% if session[:user_role] != "Superadmin" %>
				<li><%= link_to "Pending parts", pending_index_path %></li>
			<% end %>
				<li><%= link_to "AC Motors", ac_motors_path %></li>
				<li><%= link_to "Anchor Logos", anchor_logos_path %></li>
				<li><%= link_to "Bearings", bearings_path %></li>
				<li><%= link_to "Plastic materials", plastic_materials_path %></li>
				<li><%= link_to "Screws", screws_path %></li>
				<li><%= link_to "Brush holders", brush_holders_path, { class: "not-ready"} %></li>
				<li><%= link_to "C Clips", c_clips_path, { class: "not-ready"} %></li>
				<li><%= link_to "Capacitors", capacitors_path, { class: "not-ready"} %></li>
				<li><%= link_to "Carbon brushes", carbon_brushes_path, { class: "not-ready"} %></li>
				<li><%= link_to "Connectors", connectors_path, { class: "not-ready"} %></li>
				<li><%= link_to "Copperwires", copperwires_path, { class: "not-ready"} %></li>
				<li><%= link_to "Cord clips", cord_clips_path, { class: "not-ready"} %></li>
				<li><%= link_to "Cords", cords_path, { class: "not-ready"} %></li>
				<li><%= link_to "Greases", greases_path, { class: "not-ready"} %></li>
				<li><%= link_to "Grommets", grommets_path, { class: "not-ready"} %></li>
				<li><%= link_to "Nuts", nuts_path, { class: "not-ready"} %></li>
				<li><%= link_to "Spiral springs", spiral_springs_path, { class: "not-ready"} %></li>
				<li><%= link_to "Springs", springs_path, { class: "not-ready"} %></li>
				<li><%= link_to "Washers", washers_path, { class: "not-ready"} %></li>
				<li><%= link_to "Profile", :controller => "sessions", :action => "change_details" %></li>
			<% if session[:user_role] != "Normal" %>
				<li><%= link_to "Users", users_path %></li>
			<% end %>
			</ul>
		</div>
		
    <% end %>  
	</div>
	</div>
  <div id="wrap">
    <div id="content">
	  <%= yield %>
	</div>
  </div>
</body>
</html>